/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
raw.blade.php
raw.html
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/app/Models/Admin
/compress
/public/assets/images
/public/documents
/public/divisi
/public/images
/public/postimages/
/public/struktur-komunitas
